
.bl-toolbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index:999;
}

#myPosition {
  position: absolute;
  bottom: 20px;
  left:20px;
  z-index: 999;
  height: 25px;
  width: 200px;
  background-color: white;
}

#map {
  padding-left: 25px;
}

h1 {
  padding-left: 8px;
}

#singleRow {
  margin-right: 0px;
}

#lvl10 {
  overflow: auto;
  height: 150px;
  width: 100%;
}

#lvl30 {
  overflow: auto;
  height: 150px;
  width: 100%;
}

#lvl40 {
  overflow: auto;
  height: 150px;
  width: 100%;
}