

.bl-toolbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index:999;
}

#myPosition {
  position: absolute;
  bottom: 20px;
  left:20px;
  z-index: 999;
}

.ol-mouse-position {
  position: absolute;
}